<div class="background">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col header">
                MY PORTFOLIO
            </div>
        </div>
        <div class="row">
            <div class="col sub-header py-3">
                A demonstration of Full-Stack Development experience
            </div>
        </div>
    </div>
    <div class="img-0"></div>
    <div class="img-1"></div>
    <div class="img-2"></div>
    <div class="img-3"></div>
    <div class="img-4"></div>
    <div class="img-5"></div>
    <div class="img-6"></div>
    <div class="img-7"></div>
</div>