html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  background-color: #CDF;
}

#dm-switch {
  margin: 15px;
  width: 300px;
  height: 90px;
  position: relative;
  box-shadow: 0 -1px 2px 0 #0003, 0 1px 2px 1px #fffC;
  border-radius: 90px;  
  overflow: hidden;
  border-bottom:1px solid white;
  border-top: 1px solid #AAA;
}


#dm-switch::before {
  content: "";
  position: absolute;
  border-radius: 90px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 1px 3px 5px 5px #0006 inset;
  z-index: 2;
}

#dm-switch .buttonBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6AC;
  z-index: 0;
  transition: all 1s;
}

#dm-switch .buttonNub {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 90px;
  background: gold;
  z-index: 3;
  margin: 10px;
  box-shadow: 0px 3px 3px white inset;
  transition: all 1s;
  overflow: hidden;
}

#dm-switch .buttonNub::before {
  content: "";
  background: grey;
  position: absolute;
  border-radius: 90px;
  top: 0;
  left: 0;
  transform: translateX(100px);
  width: 71px;
  height: 71px;
  opacity: 0;
  box-shadow: 0px 3px 10px black;
  background: 
    radial-gradient(
      circle at 50% 30%, 
      #BBB 0%, 
      #CCC 11%, 
      transparent 12%),
    radial-gradient(
      circle at 75% 65%, 
      #BBB 0%, 
      #CCC 11%, 
      transparent 12%),
    radial-gradient(
      circle at 30% 65%, 
      #BBB 0%, 
      #CCC 18%, 
      #DDD 21%)
    ;
  transition: all 1s;
}

#dm-switch .buttonGlow {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 90px;
  background: transparent;
  z-index: 2;
  margin: 10px;
  box-shadow: 
    0 0 5px 35px #FFFFFF10,
    0 0 5px 70px #FFFFFF10,
    0 0 5px 105px #FFFFFF10;
  transition: all 1s;
}

#dm-switch .buttonClouds {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 3;
  background:     
    radial-gradient(
      circle at 80% 140%, 
      #FFF 0%, 
      #CCC 35%, 
      transparent 45%),
  radial-gradient(
      circle at 40% 130%, 
      #FFF 0%, 
      #CCC 25%, 
      transparent 35%);
  transition: all 1s;
  pointer-events: none;
}

#dm-switch .buttonStars {
  position: absolute;
  top: 15%;
  transform: translatey(-100px);
  left: 30%;
  right: 0;
  bottom: 0;
  line-height: 30px;
  z-index: 3;
  transition: all 1s;
  pointer-events: none;
}

#dm-switch .buttonNub:focus,
#dm-switch .buttonNub:focus ~ .buttonGlow
{
  transform: translateX(210px);
}

#dm-switch .buttonNub:focus::before {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s, opacity .15s;
}

#dm-switch .buttonNub:focus ~ .buttonClouds {
  transform: translatey(100px);
}

#dm-switch .buttonNub:focus ~ .buttonStars {
  transform: translatey(0px);
}


#dm-switch .buttonNub:focus ~ .buttonBackground {
  background-color: #223;
}

/*Stars*/
.four-pointed-star{
  position:relative;
  margin:1em auto;
  width:1em;
  font-size:12em;
  z-index: 5;
}

.four-pointed-star:before{
  content:"";
  position:absolute;
  background:red;
  width:1em;
  height:1.15em;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star:after{
  content:"";
  position:absolute;
  background:red;
  width:1em;
  height:1.15em;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}