<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div  class="inline">
                <p>My Socials:</p>
                <a href="{{footerLinks[0].link}}">
                    <img src="{{footerLinks[0].img}}">
                </a>
                <a href="{{footerLinks[1].link}}">
                    <img src="{{footerLinks[1].img}}">
                </a>
                <a href="{{footerLinks[2].link}}">
                    <img src="{{footerLinks[2].img}}">
                </a>
                <a href="{{footerLinks[3].link}}">
                    <img src="{{footerLinks[3].img}}">
                </a>
                <p>Mock-up:</p>
                <a href="{{footerLinks[4].link}}">
                    <img src="{{footerLinks[4].img}}">
                </a>
            </div>
        </div>
    </div>
</div>