a {
    color: inherit;
    text-decoration: none;
}

.add{
    font-family: 'termina-demi', "arial", sans-serif;
    background-color: #CEFF1A;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid;
    box-shadow: 3px 3px;
    padding: 7px 10px;
    transition: all .1s ease-in-out;
}

.add:hover{
    transform: scale(1.01) translate(-.5%);
    box-shadow: 7px 7px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 4px 20px;
  }

.card {
    width: 100%;
    transition: all .5s ease-in-out;
    float: left;
}

.card:hover {
    transform: scale(1.05) translate(-2.5%);
    box-shadow: 25px 25px;
}
.card:hover .icon {
    transform: scale(1.25) translate(-2.5%);
    box-shadow: 10px 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.edit {
    position: relative;
    top: 46px;
    right: 4px;
    z-index: 1;
}

.edit:hover {
    cursor: pointer;
    filter: invert(44%) sepia(69%) saturate(3340%) hue-rotate(166deg) brightness(101%) contrast(101%);
}

.text {
    width: 100%;
}

.sub-header{
    font-family: 'termina-demi', "arial", sans-serif;
    background-color: #CEFF1A;
    height: 40px;
    text-align: center;
    position: relative;
    bottom: 20px;
    border-radius: 30px;
    border: 1px solid;
    box-shadow: 3px 3px;
    padding: 7px 0;
    transition: all .1s ease-in-out;
}

.sub-header:hover{
    text-decoration: underline;
    transform: scale(1.01) translate(-.5%);
    box-shadow: 7px 7px;
}

.icon {
    transition: all .5s ease-in-out;
    position: relative;
    left: 15px;
    bottom: 36px;
    border: 1px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px;
    overflow: hidden;
}

.icon img {
    width: 100%;
    height: auto;
}

.smooth {
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

.purple {
    background-color: #9F87F4;
}

.bold {
    font-family: 'termina-demi', "arial", sans-serif;
}

.mat-mdc-card-header {
    padding: 0px 16px 0;
}