.sub-header{
    font-family: 'termina-demi', "arial", sans-serif;
    background-color: #CEFF1A;
    height: 40px;
    text-align: center;
    position: relative;
    bottom: 20px;
    border-radius: 30px;
    border: 1px solid;
    box-shadow: 3px 3px;
    padding: 7px 0;
}

.icon {
    position: relative;
    left: 15px;
    bottom: 30px;
    border: 1px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px
}

.icon img {
    width: 100%;
    height: auto;
}

.smooth {
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    box-shadow: 5px 5px
}

.purple {
    background-color: #9F87F4;
}

.bold {
    font-family: 'termina-demi', "arial", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}